#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organised, always.
    %button= link_to "Enter", new_user_registration_path

#callouts    
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p This help to get the files and doc save.

#bottom_cta
  .wraper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
